{
    "presets": [
        "es2015"
    ],
    "plugins": [
        "add-module-exports",
    ],
    "env": {
        "development": {
            "presets": [
                "power-assert"
            ]
        },
        "production": {
            "plugins": [
                "babel-plugin-unassert"
            ]
        }
    }
}
